#top-left-header {
    position: relative;
    left: 50px;
}

#sign-in{
    font-size:30px;
    background-color: #4756DF;
    color: white;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    left: 1200px;
    bottom:80px;
    width: 200px;
}

#sub-heading-1 {
    position: relative;
    right: 100px;
}

#sub-heading-2 {
    position: relative;
    left: 20px;
    bottom: 30px;
}

.button_2 {
    background-color: blue;
    color: white;
    width: 100px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    position: relative;
    bottom: 40px;
    left: 20px;
}

.button-3{
    background-color: white;
    color: black;
    width: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    position: relative;
    left: 150px;
    bottom: 90px;
}

#middle-head {
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    bottom: 300px;
}